POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=postgres

# pgAdmin configuration
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

APP_PORT=8080